html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}


#main
{
    width: 100vw;
    max-width: 100vw !important;
    height: 100vh;
    max-height: 100vh !important;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.player 
{
    border: 3px solid white;
    border-radius: 50%;
    /*background-color: yellow;*/
	background-image: url("https://clocktower.online/img/life.c3464300.png");
	background-clip: border-box;
	background-origin: padding-box;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: repeat;
	background-size: 100%;
    width: 100px;
    height: 100px;
}

.addBtn 
{
    width: 60%;
    height: 60%;
    margin-left: 20%;
	margin-top: 10%;
    border-radius: 50%;
	text-wrap: break-word;
    font-size: 3vw;
	border: 3px outset grey;
	/*background-color: rgb(97, 11, 138);*/
	background: #6959DB;
	background: linear-gradient(45deg, rgba(105, 89, 219, 1) 0%, rgba(188, 70, 252, 1) 100%);
	color: white;
}

.dead 
{
	filter: grayscale(100%);
}
.dead > .shroud 
{
	display: block;
}

.living 
{
	filter: none;
}
.living > .shroud 
{
	display: none;
}

.evil 
{
	border-color: red;
}

.good 
{
	border-color: green;
}

.hidden 
{
	border-color: white;
	filter: blur(2rem);
}

.nameInput 
{
    width: 70%;
    margin-left: 15%;
    height: 1.5rem;
	text-align: center;
}

#addRoleWindow 
{
    background-color: green;
    color: white;
	border: 5px outset black;
    display: none;
    width: 90vw;
    height: 90vh;
	margin-left: 5vw;
	margin-top: 5vh;
	padding: 5%;
	font-size: 0.8rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

#statusTable {
	max-width: 100%;
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
}
#statusTable tr {
	border: 1px solid white;
	border-collapse: collapse;
}
#statusTable tr th {
	border: 1px solid white;
	border-collapse: collapse;
}
#statusTable tr td {
	border: 1px solid white;
	border-collapse: collapse;
}

#addRoleWindow table {
	width: 100%;
	max-width: 200vw;
	max-height: 80%;
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
}
#addRoleWindow table td, #addRoleWindow table tr, #addRoleWindow table th {
	padding: 0.5rem;
	border: 1px solid white;
	border-collapse: collapse;
}

.roleCheck, #voteStatusCheck, #deadStatusCheck {
	-ms-transform: scale(1.75); /* IE */
	-moz-transform: scale(1.75); /* FF */
	-webkit-transform: scale(1.75); /* Safari and Chrome */
	-o-transform: scale(1.75); /* Opera */
	transform: scale(1.75);
	padding: 10px;
}
#alignmentSelect {
	font-size: 1.25rem;
}

#setupWindow {
	background-color: purple;
    color: white;
	border: 5px outset black;
    display: none;
    width: 90vw;
    height: 90vh;
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 1.5rem;
	font-size: 0.8rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

#customSetup table {
	max-width: 100%;
}

#customSetup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#availableRolesWrapper, #selectedRolesWrapper {
	padding: 10px;
	width: 100%;
	height: 50vh;
	overflow: hidden;
}
#availableRolesDiv, #selectedRolesDiv {
	width: 100%;
	height: 50vh;
	overflow: scroll;
}
#availableRolesDiv > h2, #selectedRolesDiv > h2 {
	font-size: 0.5rem !important;
}


.customRoleOption, .selectedRoleOption {
	padding: 5px 0;
	border-bottom: 1px solid white;
}


ul.statusList {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	font-size: 1.25rem;
}

ul.statusList label {
	padding-left: 20px;
}

ul.statusList label::before {
	content: "\A";
}

ul.statusList input[type=checkbox] {
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
}

.hidden {
    display: none;
}

/*
#central {
	text-align: center;
	position: absolute;
	width: 30%;
	height: auto;
	font-size: 0.75rem;
	border: 1px solid red;
	background-color: white;
	color: purple;
}

#central {
	width: 100%;
	text-align: center;
	background-color: white;
	color: purple;
}
*/
#settings button 
{
	top: 5px;
	font-size: 1.5rem;
	width: 2.5rem;
	height: auto;
	position: fixed;
}
#settings button.right
{
	right: 5px;
}

#settings button.left
{
	left: 5px;
}

#setupWindow 
{
	display: none;
	position: fixed; 
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 80vw;
	margin-left: -40vw;
	height: 80vh;
	margin-top: -40vh;
}

#central 
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40vw;
	margin-left: -20vw;
	height: 30vh;
	margin-top: -15vh;
	padding: auto;
	background-color: white;
	text-align: center;
	border: 5px outset black;
	font-size: 0.7rem;
}


.w3-flex 
{
	justify-content:space-around; 
	margin-top: 5px; 
	border: 1px solid white;
	padding: 0.5rem;
}

.closeBtn {
	float: right;
}