#menu 
{
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

#main
{
    width: 100vw;
    max-width: 100vw !important;
    height: 90vh;
    max-height: 100vh !important;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.player 
{
    border: 3px solid white;
    border-radius: 50%;
    /*background-color: yellow;*/
	background-image: url("https://clocktower.online/img/life.c3464300.png");
	background-clip: border-box;
	background-origin: padding-box;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: repeat;
	background-size: 100%;
    width: 100px;
    height: 100px;
}

.addBtn 
{
    width: 60%;
    height: 60%;
    margin-left: 20%;
	margin-top: 10%;
    border-radius: 50%;
	text-wrap: break-word;
    font-size: 3vw;
	border: 3px outset grey;
	/*background-color: rgb(97, 11, 138);*/
	background: #6959DB;
	background: linear-gradient(45deg, rgba(105, 89, 219, 1) 0%, rgba(188, 70, 252, 1) 100%);
	color: white;
}

.dead {
	filter: grayscale(100%);
}
.dead > .shroud {
	display: block;
}

.living {
	filter: none;
}

.living > .shroud {
	display: none;
}

.evil {
	border-color: red;
}

.good {
	border-color: green;
}

.hidden {
	border-color: white;
}

.nameInput 
{
    width: 70%;
    margin-left: 15%;
    height: 1.5rem;
	text-align: center;
}

#addRoleWindow 
{
    background-color: green;
    color: white;
	border: 5px outset black;
    display: none;
    width: 90vw;
    height: 90vh;
	margin-left: 5vw;
	margin-top: 5vh;
	padding: 5%;
	font-size: 0.8rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}


#setupWindow {
	background-color: purple;
    color: white;
	border: 5px outset black;
    display: none;
    width: 90vw;
    height: 90vh;
	margin-left: 5vw;
	margin-top: 5vh;
	padding: 5%;
	font-size: 0.8rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

ul#addRoleList {
	columns: 4;
	-webkit-columns: 1;
	-moz-columns: 1;
	column-width: 1rem;
	max-height: 80%;
	max-width: 200vw;
	width: 10rem;
	padding: 0;
	margin: 0;
	overflow: auto;
	scrollbar-color: white green;
	scrollbar-width: thin;
}

ul#addRoleList ul {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 20%;
	float: left;
	overflow: auto;
	scrollbar-color: yellow green;
	scrollbar-width: thin;

}

ul.statusList {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	font-size: 1.25rem;
}

ul.statusList label {
	padding-left: 20px;
}

ul.statusList label::before {
	content: "\A";
}

ul.statusList input[type=checkbox] {
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
}

.hidden {
    display: none;
}

/*
#central {
	text-align: center;
	position: absolute;
	width: 30%;
	height: auto;
	font-size: 0.75rem;
	border: 1px solid red;
	background-color: white;
	color: purple;
}
*/
#central {
	width: 100%;
	text-align: center;
	background-color: white;
	color: purple;
}
