* {
	box-sizing: border-box;
}
button {
	width: 95vw;
	height: auto;
	font-size: 2rem;
}
button#btnGetCameraPermission {
	background-color: palevioletred;
	color: white;
}
button#btnScanBarcode {
	background-color: palegreen;
	color: black;
}
video#videoOutput {
	width: 95vw;
	height: auto;
	margin: 0 auto;
	border: 2px solid black;
	background-color: grey;
}
textarea#textareaDebugLog {
	width: 95vw;
	height: 20vh;
}