body { 
	margin: 0;
	box-sizing: border-box;
	font-size: 12px;
	background-color: #222;
}
.selected {
	border: 5px solid outset;
	color: red;
	font-weight: 900;
}
.die {
	position: relative;
	text-align: center;
	color: white;
}
.die span {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	font-weight: 900;
}
.die img {
	z-index: 1;
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}
.roundScore{
	border: 5px dotted white;
}

.tooltip {
	display: none;
}

.flash {
	animation: flashing 3s;
	display: none;
}

@keyframes flashing {
	0% {
		top: 0px;
		display: block;
		opacity: 20%;
	}
	20% {
		top: -30px;
		opacity: 100%;
	}
	80% {
		top: -30px;
		opacity: 100%;
	}
	90% {
		top: -15px;
		opacity: 50%;
	}
	100% {
		top: 0px;
		opacity: 0%;
		display: hidden;
	}
}

#jokerRow {
	height: 25%;
}

.joker {
	background-color: #f00;
	color: #fff;
	font-size: 0.75rem;
	padding: 10px;
	height: 100%;
}
.joker h2 {
	font-size: 1.0rem;
}

.die.selected {
	color: yellow;
	border: 3px outset red;
	position: relative;
	top: -15px;
}

.die.rolling {
	animation: rolling 2s;
}

@keyframes rolling {
	0%{
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


.fire {
	animation: flicker 2s infinite;
	color: #fdd; /* Light text color */
	text-align: center; /* Center alignment of text */
	/* Multi-layered text-shadow for fire effect */
	text-shadow:
	  0px -5px 15px #FFF, /* Innermost - intense heat (white) */
	  0px -10px 30px #FF3, /* Second - core of flame (yellow) */
	  0px -30px 60px #F90, /* Middle - body of flame (orange) */
	  0px -50px 100px #C33; /* Outermost - flame edges (red) */
}

/* Define the animation named "flicker" */
@keyframes flicker {
    /* Initial state of animation */
    0%, 
    /* Final state of animation */
    100% { 
        text-shadow: 
            0 -5px 15px #FFF, /* Innermost - intense heat (white) */
            0 -10px 30px #FF3, /* Second - core of flame (yellow) */
            0 -30px 60px #F90, /* Middle - body of flame (orange) */
            0 -50px 100px #C33; /* Outermost - flame edges (red) */
    }
    /* Middle state of animation */
    50% { 
        text-shadow: 
            0 -10px 30px #FFF, /* Innermost - intense (white) */
            0 -20px 60px #FF3, /* Second - core (yellow) */
            0 -40px 80px #F90, /* Middle - body (orange) */
            0 -60px 120px #C33; /* Outermost - flame edges (red) */
    }
}

.modal {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 50;
	background-color: #222;
	width: 90%;
	height: 90%;
	margin: auto;
}

/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  * {
    display: hidden;
  }
  html::after {
  	content: 'Rotate to landscape mode to view!'
  }
}