
.card {
  width: 10%;
  height: 15%;
  background-color: white !important;
  font-size: 0.75rem;
  /*top right bottom left*/
  padding: 2.5rem 2.5rem 1.5rem 0.75rem;
}
td > .card{
  background-color: white;
}

.H,.D{
  color: red;
}
.C,.S{
  color: black;
}
.H::before{
  content: '♥️';
  
}
.D::before{
  content: '♦️';
}
.C::before{
  content: '♣️';
}
.S::before{
  content: '♠️';
}
.H::before,.C::before,.D::before,.S::before{
  position: relative;
  top: 0rem;
  font-size: 0.75rem;
}
button[id*='discardBtn'] {
  background-color: #6ABDDE;
  color: black;
  font-size: 0.5rem;
  width: 123%;
  padding: 0 10%;
}

button.discard span{
  background-color: #6ABDDE;
}

button.discard.marked, button.discard.marked span{
  background-color: #F8803C;
}

.betCashRow th {
  font-size: 0.75rem;
}
label, #betInput{
  width: 50%;
}
#betBtn{
  width: 100%;
  height: 2rem;
  background-color: #37C5D1;
  color: black;
}
#handsTable {
  border: 1px solid #6ABDDE;
  border-collapse: collapse;
}
#handsTable tr td{
  font-size: 0.5rem;
  border: 1px solid #6ABDDE;
  border-collapse: collapse;
}
#handsTable tr th{
 font-size: 0.65rem; 
 border: 1px solid #6ABDDE;
 border-collapse: collapse;
}