.target {
  /*height: 650px;*/
  background-color: grey;
  position: relative;
  border: 1px solid white;
}
.target:hover {
  background-color: #999;
}
/*.target:hover::before {
  content: "↓↓↓";
  text-align: center;
  filter: saturate(10%);
}*/
.draggable {
  font-size: 0.5rem;
  border: 1px solid black;
  border-radius: 2px;
  background-color: purple;
  background-image: linear-gradient(blue, purple);
  box-shadow: 2px 4px #000;
  padding: 10px 5px;
  color: white;
  margin: 10px 2px;
  max-width: 15%;
  min-width: 10%;
  padding-left: 5%;
  aspect-ratio: 2 / 1;
}
.draggable::before{
  content: "✊";
  clear: both;
  display: hidden;
}
/*.draggable:nth-child(odd){
  background-image: linear-gradient(purple, blue);
}*/
/*div.target:nth-child(odd){
  background-image: linear-gradient(purple, blue);
}*/
.draggable:hover{
  filter: none;
  padding-left: 2%;
}
.draggable:hover::before{
  content: "✊";
  clear: both;
}

.target > .draggable::before {
  content: "";
}