* {
  font-family: Roboto, Arial, sans-serif;
}
input {
  padding: 5%;
  margin: 5% 10%;
  font-size: 1rem;
}
select {
  font-size: 1rem;
  padding: 5%;
}

form button {
  font-size: 1rem;
  padding: 5%;
  margin: 5%;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
* {
    /* For desktop: */
    font-size: 1.5rem;
  }
}
