* {
  font-family: Roboto, Arial, sans-serif;
  background-color: black;
  color: darkcyan;
}
input {
  padding: 5%;
  margin: 5% 10%;
  font-size: 1rem;
}
select {
  font-size: 1rem;
  padding: 5%;
}

form button {
  font-size: 1rem;
  padding: 5%;
  margin: 5%;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
* {
    /* For desktop: */
    font-size: 1.5rem;
  }
}
.backBtn {
  margin-left: 20px;
  height: 2rem;
  background-color: #37C5D1;
  color: black;
}

.fullBtn{
  width: 100%;
  height: 2rem;
  background-color: #37C5D1;
  color: black;
}

#gameTitle {
  font-size: 1.10rem;
}