
@media only screen and (min-width: 768px) {
  table {
      /* For desktop: */
      padding: 2% 20%;
    }
  }
  
table {
  width: 100%;
  height: auto;
  /*display: flex;
  /*flex-flow: grid;*/
  table-layout:fixed;
}

tr {
  width: 100%;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}

td div.content {
  aspect-ratio: 1 / 1 ;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

td div.content button {
  text-align: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

td div.content button span {
  text-align: center;
  align-items: center;
  font-size: 1.25rem;
}

th {
  text-align: center;
  align-items: center;
}

td{
  text-align: center;
  align-items: center;
  padding: 5% 0;
}

button.pairsBtn {
  width: 100%;
  max-height: 75%;
  padding: 0;
  margin: 0;
}
td.pairsTd{
  width: 100%;
  max-height: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  padding: 0;
  margin: 0;
}
td.pairsTd div.content {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0;
  margin: 0;
  background-color: inherit;
}
td.pairsTd div.content button.pairsBtn span{
  width: 100%;
  height: auto;
  max-height: 75%;
  position: relative;
  top: 20%;
  margin: 0;
  /*font-size: 2rem;*/
  background-color: inherit;
}