html {
	/*overflow: hidden;*/
}
* {
	font-size: 0.9rem;
}
ul {
	padding-left: 15px;
}
h2 {
	font-size: 1.15rem;
	font-weight: 900;
}
h3 {
	font-size: 0.85rem;
	font-weight: 600;
}
#charactersList {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-around; 
	align-content: space-around;
}
.character:nth-child(odd) {
	background-color: rgb(17, 37, 37);
}
.character:nth-child(even) {
	background-color: rgb(49, 49, 54);
}
.character { 
	border: 1px solid white; 
	padding: 5px; 
	font-size: 5px; 
	width: 32%;
}
.character h2 { 
	padding: 5px;
	margin: 0;
	font-size: 1.5rem;
	text-align: center;
}
.abilitiesList {
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	align-items: stretch;
	border: 1px solid white;
}
.ability {
	font-size: 0.85rem;
	padding: 5px;
	margin: 0;
	width: 50%;
	text-align: center;
}
.ability h3 {
	padding: 2px;
	margin: 0;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
}
.dataList {
	display: flex;
	justify-content: space-evenly;
}
.agenda {
	width: 75%;
	padding: 5px;
	border: 1px solid gray;
}
.bonus {
	width: 25%;
	font-size: 0.85rem;
	padding: 2px;
	border: 1px solid gray;
	text-align: center;
}
.bonus h3 {
	font-size: 1.1rem;
}