#nav 
{
	height: 2vh;
}
#nav div 
{
	border: 1px solid red;
	text-align: center;
	background-color: palegoldenrod;
	color: blue;
}
.location 
{
	height: 25vh;
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightblue;
	text-align: center;
	margin: 10px 0;
}
.location h2 
{
	background-color: dodgerblue;
	color: black;
	border: 1px solid black;
	font-size: 0.5rem;
}
die 
{
	padding: 0 5px;
}
#player, #quest, #location
{
	display: none;
}

.daytime 
{
	padding: 0;
	margin: 0;
	max-height: 0.75rem;
}

.timeSection 
{
	padding:0;
	margin: 0;
}

ul.timeValueList 
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	position: relative;
}

li.timeValueListItem
{
	display: inline;
	border: 1px solid black;
	border-radius: 50%;
	background-color: lightblue;
	text-align: center;
	min-width: 25px;
	padding: 0px 3px;
	margin: 20px auto;
}

li.timeValueListItem.checked
{
	background-color: black;
}