#nav 
{
	height: 2vh;
}
#nav div 
{
	border: 1px solid red;
	text-align: center;
	background-color: palegoldenrod;
	color: blue;
}
.location 
{
	height: 25vh;
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightblue;
	text-align: center;
	margin: 10px 0;
}
.location h2 
{
	background-color: dodgerblue;
	color: black;
	border: 1px solid black;
	font-size: 0.5rem;
}
die 
{
	padding: 0 5px;
}
#player, #quest, #location
{
	display: none;
}